h1,
h2 {
  font-family: Lato;
}

#initConetent {
  font-size: 45px;
}

#externalStyles {
  color: orange;
}

.bg-dark {
  background-color: cadetblue;
  color: white;
  padding: 5px;
}

h1 {
  background-color: crimson;
  color: white;
  padding: 15px;
  border-radius: 15px;
}
/* combinators */
* body {
  margin: 20px;
  padding: 10px;
  border: 5px solid green;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
table tr td {
  font-size: 20px;
  text-align: center;
}

table thead {
  background-color: silver;
  padding: 20px;
}
table tbody tr:nth-child(even) {
  background-color: red;
}

table tbody tr:nth-child(odd) {
  background-color: green;
}

.my-label {
  font-size: 20px;
  display: block;
}

.my-input {
  font-size: 20px;
  /* display: block; */
  border: 2px solid green;
  border-radius: 5px;
}

.my-input:focus {
  /* box-shadow:  10px 10px 5px 0px rgba(0,0,0,0.75); */

  border: unset;
  /* // 2px solid blue !important; */
}
